<header class="site-header">
	<section class="section-site-header h1">
		<h1><a href="#">General Module Sample</a></h1>
		<div class="accordion-block">
			<p class="accordion-title jsi-accordion-title-trigger">INDEX</p>
			<ul class="accordion-menu jsi-accordion-menu-trigger">
				<li><a href="#buttons">Buttons</a></li>
				<li><a href="#forms">Forms</a></li>
				<li><a href="#template">Template</a></li>
				<li><a href="#template">Template</a></li>
				<li><a href="#template">Template</a></li>
				<li><a href="#template">Template</a></li>
				<li><a href="#template">Template</a></li>
				<li><a href="#template">Template</a></li>
			</ul>
		</div>
	</section>
</header>
