<header class="module-items-head">
	<span>CSS Module Title</span>
</header>
<div class="module-box">
	<p>Module</p>
</div>
<div class="module-item-code">
	<textarea class="module-item-code-html">コピーして使う(html)
	</textarea>
	<textarea class="module-item-code-css">コピーして使う(css)
	</textarea>
</div>
