<!DOCTYPE html>
<html lang="ja">
<head>
	<!-- <% include _parts/head %> -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="/assets/js/libs/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/accordion.js"></script>
	<script type="text/javascript" src="/assets/js/smoothScroll.js"></script>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="" />
	<meta property="og:url" content="">
	<!-- <% include _parts/head_links %> -->
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<title>General Module Sample</title>
</head>
<body>
	<div class="site-wrapper">
		<% include _parts/header %>
		<main class="site-main">
			<div class="contents-block">
				<section class="section-block">
					<!-- <section class="section-head h1">
						<h1>General Module Sample</h1>
					</section> -->
					<section class="section-body">
						<section class="section-head h2">
							<h2>CSS Module</h2>
						</section>
						<div class="module-block">
							<section class="section-head h3 jsi-section-head">
								<h3 id="buttons">Buttons</h3>
							</section>
							<div class="module-items">
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/buttons_sizes %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
							</div>
							<section class="section-head h3 jsi-section-head">
								<h3 id="forms">Forms</h3>
							</section>
							<div class="module-items">
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
							</div>
							<section class="section-head h3 jsi-section-head">
								<h3 id="template">Template</h3>
							</section>
							<div class="module-items">
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
								<!-- oneItem -->
								<div class="module-item">
									<% include _parts/one_module_template %>
								</div>
							</div>
						</div>
					</section>
				</section>
			</div>
		</main>
		<% include _parts/footer %>
	</div>
</body>
</html>
